.heading {
    background-color: lightblue;
  }
  
  .heading h1 {
    text-align: left;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    .heading h1{
      margin-left: 25px;
    }
    .heading{
        margin: 0%;
        width: 100%;
    }
    
  }