.container {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  flex:1
}
.tags{
  width: 90%;
  margin:10px auto;
  padding:0 auto;

}
@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
}
