*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.form {
  background-color: lightblue;
  padding: 10px;
  margin:10px;
  width: max-content;
  min-width: 400px;
}
.form input {
  width: 100%;
  padding:10px;
  margin-top: 5px;
}
.form > * {
  margin: 10px;
}
.options{
  display: flex;
  width: 90%;
  margin-left: 0;
}
.ans h2,
.tags h2
{
  margin-top: 40px;
}
.PollBtn button {
  text-align: center;
  width:150px;
  margin: 0 10px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;  
}

@media screen and (max-width: 600px) {

  .form{
    margin: 10px auto;
    width: 100%;
    min-width: 50px;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form input{
    width: 100%;
  }
  .question{
    margin-bottom: 40px;
  }
  .tags{
    margin-top: 40px;
  }

}